/* Colors */
$orange: #df5e22;
$yellow: #F8AC20;
$red: #F2430E;
$green: #148E6C;
$blue: #1968A9;
$brown: #6C4116;
$black: #02111b;
$white: #fff;
$light-gray: #f4f4f5;
$dark-gray: #4a4a50;
$gray: #71717a;

/* Typography */
$font-base: Manrope, sans-serif;
$font-headline: 'mono45-headline', sans-serif;

/* Breakpots */
$breakpointsdsd: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px,
  xxl: 1540px,
  sup: 2200px
);

/* Sizing */
$container-max-width: 1200px;

/* Utils */
$colors: (
  "orange": $orange,
  "yellow": $yellow,
  "red": $red,
  "green": $green,
  "blue": $blue,
  "brown": $brown,
);
